.app {
  header{
    display:flex;
    justify-content: space-between;
    .active {
      padding: 0 0 0 10px;
      font-size: 1.4rem;
      color: #333;
    }
    .user-info {
      padding: 0 10px 0 0;
      font-size: 1.4rem;
      color: #333;
      &>span {
        &:last-child {
          margin-left: 5px;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
  }
}

body,html {
  font-size: 62.5% !important;
}
