.content-all__chart {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  
  .content-all__chart--select {
    display: flex;
    align-items: center;
    padding: 10px;

    button {
      margin: 0 10px;
    }
  }
  .content-all__chart--chart {
    min-width: 700px;
  }
}