.admin__main--content_all {
  
  .content-all__chart {
    
    background: #fff;
    border-radius: 4px;
    
    .content-all__chart--select {
      padding: 10px;

      button {
        margin: 0 10px;
      }
    }
  }
}