.check {
  h1{
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    color: #333;
  }
  h2.achievement{
    margin: 10px 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
  }
}
