.write {
  margin: 20px auto;
  width: 500px;
  height:100px;
  .ant-row-flex{
    margin:5px 0;
    h1{
      font-size: 2rem;
    }
    p{
      margin: 0;
      font-size: 1.4rem;
    }
    .write__form--close {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, .2);
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: #999;
      }
    }
  }
  .write__button {
    margin:15px 0;
  }

  @media only screen and (max-width: 510px){
    width: 98%;
  }
}

.write__modal{
  .ant-modal {
    @media only screen {
      @media (max-width: 767px){
        width: 520px !important;
      }
      @media (max-width: 550px){
        margin: 0 !important;
        width: 98% !important;
        .ant-modal-body {
          padding: 12px !important;
        }
      }
    }
  }
}
